{% extends 'base.html' %}
{% block content %}
<style>
    body {
        background-image: url('The Great Hartland Community Library/background.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>

<h2>Welcome to the Great Hartland Community Library</h2>
<p>Use the menu above to manage the library.</p>

<p>The Great Hartland Community Library, run by a dedicated team of volunteers, serves a close-knit community by providing access to a diverse collection of books. Currently, the library operates using a manual system, which, while effective, is inefficient and prone to errors. This system makes tasks such as book management, checkout, and record-keeping time-consuming and cumbersome.</p>

<p>To improve efficiency and enhance the service quality for its patrons, the library is looking to adopt a digital solution. The goal is to streamline daily operations, including keeping accurate records, managing checkouts, and conducting searches for books. With a computer-based system, the library will be able to provide a more seamless and user-friendly experience for its members. The long-term vision includes integrating a comprehensive digital platform to support all aspects of library management.</p>

{% endblock %}
